/*Jana Nash-Siegle
WIA - Eric Silvay

Colors:
#9e6037  dark tan
#ebc280  light tan
#cabdaa  med gray
#657036  dark olive green
#c4c87b  light olive
#ffeacd  cream
*/
/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption,article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Reset Finished*/

/*Basic Styling*/

footer::after, section::after{
    content: "";
    display: table;
    clear: both;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body{
	position: relative;	
	width: 100%;
	height: 100%;
	max-width: 1900px;
	background-color: #ffeacd;	
	margin: 0;		
}
a {
	text-decoration: none;
}
h1, h2, h3, h4, blockquote, pre, li {
	font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
}
p {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
h1 {
	font-size: 36px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: bold;
	line-height: 36px;
}
h2 {
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 42px;
}
h3 {
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 42px;
}
p {
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 27px;
	margin-top: 10px;
}
blockquote {
	font-size: 21px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: bold;
	line-height: 30px;
}
pre {
	font-size: 14px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: bold;
	line-height: 22px;
}
 
/*End Basic Styling*/

#banner{
	background: #ffeacd url(../img/LPD_banner.jpg) left center no-repeat;
	height: 260px;
	width: 1500px;
	margin-top: 0;
}
header h2, header p{
	text-align: center;
}
header h2{
	margin-top: 30px;
}

article{
	margin:30px 30px 0 30px;
}
/*++++++++Navigation++++++++*/
nav{
	float: left;
	top: 0;	
}
nav ul li{	
	padding: 20px;
	width: 150px;	
	border-bottom: 1px solid #9e6037;
	text-align: center;	
}
nav ul li a {
	color: #657036;
}
nav ul li:hover, {		
	background-color:#cabdaa;	
	color: #9e6037;
}
.active {
	font-size: 200%;
}

/*+++++++++End Navigation +++++++++++++*/

/*+++++++Company Page +++++++++++++*/

	/*+++++++++++++Staff+++++++++++++*/

#staff_ctr {
	width: 100%;
	margin: 30px;
	display: inline-block;	
}
.employee{
	width: 25%;
	text-align: center;
	display: inline-block;
	border: 1px solid black;
	padding: 10px;
}
.employee img {
	display: inline-block;	
	width: 33%;
	height: auto;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 50% 50% 50% 4%;

}
.circle_img {	
	padding: 20px;
	background: #c4c87b;
	border-radius: 50% 50% 50% 4%;	
}
.circle_img:hover{
	-webkit-transform: scale(2,2);
    -moz-transform: scale(2,2);
    transform: scale(2,2);
    -webkit-transform: .3s ease-in;
    -moz-transform: .3s ease-in;
    transition: .3s ease-in;
}

	/*++++End Staff++++++*/
/*+++++End Company++++*/

/*+++++++++++++Photo Gallery++++++++++++++*/
#gallery{
	width: 100%;
    margin: 0 auto;    
}
#gallery h1, #gallery h2{
	text-align: left;
	margin-top: 30px;
}
#gallery article {
    display: inline-block;
    background: url("../img/gallery/photo.jpg") no-repeat top left;
    background-size: contain;
    width: 200px;
    height: 230px;
    padding: 15px 20px 40px 15px;
    margin: 15px auto 0 auto;
    overflow: hidden;
}
#gallery article img {
    margin: 0 auto;
    padding: 10px 5px;
    border-radius: 50% 50% 50% 4%;
  }
#gallery article p, #gallery article a {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: .950em;
    margin-left: 10px;
    letter-spacing: 2px;
    font-variant: small-caps;
    text-align: left;    
}
#gallery article p {
	margin-top: 0;  /*puts the title right below the href*/
}



/*+++++++++++++Content+++++++++++++++++*/
div.ng-scope{
	width: 75%;
	background: #ffeacd;
	margin-left: 50px;
	float: left;
}



